*
{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
body
{
	max-width: 940px;
	margin: 0 auto;
	background-color: #eee;
	border: 1px solid black;
	box-shadow: 10px 10px 10px rgba(0,0,0,.7);
}
.header h1
{
	text-align: center;
	background-color: #000000;
	color: white;
	font-size: 3em;
	margin-top: 0.7em;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
	font-family: 'Varela Round', 'Arial Black', serif;
	font-weight: normal;
}
.nav
{
	margin: 6% 16%;
}
.nav a {
	text-decoration: none;
	border: 1px solid black;
	background-color: black;
	padding: 10px;
	color: white;
	display: inline-block;
	box-shadow: 5px 5px 5px rgba(0,0,0,.5);
	font-family: 'Varela Round', 'Arial Black', serif;
	font-weight: normal;
}
#rollnoform label
{
	display: inline-block;
	vertical-align: top;
	width: 100px;
	margin-left: 50px;
	font-size: 1.2em;
	margin-top: 28px;
	padding: 10px 0;
	color: white;
	font-family: 'Varela Round', 'Arial Black', serif;
	font-weight: normal;
}
input[type="text"],input[type="submit"],select
{
	font-size: 2em;
	background-color: black;
	border: none;
	height: 60px;
	margin-top: 20px;
	width: 320px;
	border-radius: 5px;
	color: white;
	font-family: 'Varela Round', 'Arial Black', serif;
	font-weight: normal;
}
input[type="submit"]
{
	margin: 1em 10em;
	width: 200px;
	font-size: 1.2em;
	cursor: pointer;
	height: 35px;
}
input[type="submit"]:hover
{
	background-color: white;
	color: black;
}
#rollnoform
{
	border: 1px solid black;
	max-width: 600px;
	margin: 20px auto;
	background-color: #001100;
	box-shadow: 10px 10px 10px rgba(0,0,0,.5);
}
footer
{
	text-align: center;
	font-family: 'Varela Round', 'Arial Black', serif;
	font-weight: normal;
	padding: 20px 0;
	font-size: 1.3em;
	color: blue;
}